body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #f1f4fb;
  }
  .sidebar{
    height: 100vh !important;
    position: absolute;
    width:250px;
    color: white;
    background-image: linear-gradient(#e31f46e0, #cc2748);
    box-shadow: 5px 3px #66666640;
    /* background: #ed2f64; */
  }
  .logo_name{
    height: 50px;
    width: fit-content;
  }
  .profileImg{
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .nav-list{
    padding: 20px;
    list-style: none;
    color: #e31f45;
  }
  .nav-list li a{
    text-decoration: none;
    color: WHITE;
  }
  .nav-list li {
    padding: 13px;
      margin-top: 8px;
    font-size: larger;
  
  }
  .sidebar-dropdown:hover{
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 20px;
    color: #ed2f65b6;
    box-shadow: 3px 3px #666666a3;
  }
  .sidebar-dropdown:hover a{
    color: #ed2f65b6;
  
  }
  .bxl-c-plus-plus{
    font-size: 20px;
  }
  .logo-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding: 10px;
  }
  .bx-menu{
    -webkit-transition:0.2s;
    font-size: 30px;
    cursor: pointer;
  }
  .profile{
   margin-top:270px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    color: white;
     background-color: #f8386edd;
     -webkit-transition:0.2s;
  }
  .profile-details{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .bx{
    font-size: 25px;
  }
  .active{
    width: 70px !important;
    -webkit-transition:0.2s;
  }
  .active .logo_name{
    display: none;
  }
  .active .links_name{
    display: none;
  }
  .active li{
    padding: 10px;
    margin-left: -8px;
    margin-top: 25px;
  }
  
  .active .name_job{
    display: none;
  }
  .active .profile{
    margin-top:270px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-transition:0.2s;
    width: 70px;
  }
  .active .profile-details{
    gap: 0;
  }
  .active .nav-list{
    position: relative;
    top:85px;
  }
  .active .logo-details{
    text-align: center;
    display: block;
   margin:10px 14px;
    position: absolute;
  }
  .active .logo{
    height: 47px;
    width: 47px;
    top: 45px;
    margin-left: -13px;
    position: absolute;
  }
  .active .profileImg{
    display: none;
  }
  .toltip {
    position: relative;
    display: inline-block;
  }
  @media only screen and (max-width: 992px) {
    .sidebar {
    height: 2464px !important;
    }
  }
  .sidebar{
    height: 1208px !important;
    position: absolute;
    width:250px;
    color: white;
    background-image: linear-gradient(#e31f46e0, #CC2748);
    box-shadow: 5px 3px #66666640;
    /* background: #ED2F64; */
  }
  /* Tooltip text */
  .toltip>.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #e31f46d2;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left:55px;
    position: absolute;
    /* z-index: 1; */
  }
  .toltip>.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #e31f46d2;
  }
  
  .active .toltip:hover .tooltiptext {
    visibility: visible;
  }
  
     /* * * * * Home-content CSS * * * * */
  .home-section{
    position: absolute;
    left: 260px;
    z-index: 1;
    -webkit-transition:0.2s;
  }
  .minihome{
    position: absolute;
    left: 75px !important;
    z-index: -1;
    -webkit-transition:0.2s;
  }
  
  .home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 600;
    margin: 18px
  }
  
  .home-section .add-text {
    color: #11101d;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 20px 0;
    background-color: #DEE5F9;
    padding: 20px 0 20px 20px;
  }
  

  
  